<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>{{ .Header }} responses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container mt-3">
    <h1>{{ .Header }}</h1>
    <ul class="categories">
        {{ range .Categories }}
            <li class="category">
                <h2>{{ .Header }}</h2>
                {{ $el := index .Subcategories 0 }}
                {{ if ne $el.Header "default header" }}
                    <ul class="subcategories">
                        {{ range .Subcategories }}
                            <li class="subcategory">
                                {{ if ne .Header "default header" }}
                                    <h4>{{ .Header }}</h4>
                                {{ end }}
                                <ul class="links">
                                    {{ range .Links }}
                                        <li class="link">
                                            <audio hidden>
                                                <source src="{{ .Link }}" type="audio/mpeg">
                                            </audio>
                                            <span>
                                                <a class="audiobtn" title="Play/pause">▶️ {{ .Title }}</a>
                                            </span>
                                        </li>
                                    {{ end }}
                                </ul>
                            </li>
                        {{ end }}
                    </ul>
                {{ else }}
                    {{ range .Subcategories }}
                        <ul class="links">
                            {{ range .Links }}
                                <li class="link">
                                    <audio hidden>
                                        <source src="{{ .Link }}" type="audio/mpeg">
                                    </audio>
                                    <span>
                                        <a class="audiobtn" title="Play/pause">▶️ {{ .Title }}</a>
                                    </span>
                                </li>
                            {{ end }}
                        </ul>
                    {{ end }}
                {{ end }}
            </li>
        {{ end }}
    </ul>
</div>

<script src="/js/main.js"></script>
</body>
</html>